main {
  margin: auto;
  width: 70%;
  color: #525252;
}

.gif {
  margin-top: 3rem;
}

.gif h1 {
  color: #1d1f4b;
  text-align: center;
  padding: 2rem;
}

img {
  margin: auto;
  display: block;
  max-width: 70%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
